@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;

}

.allBody{
  background-color: rgb(253, 255, 229);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2.5rem;
}
.container{
  background-color: rgb(190, 169, 128);
  display: flex;
  padding-top: 5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  padding-bottom: 3rem;
}
.container>h1{
  font-size: 2rem;
  text-shadow: 1px 1px 1px rgb(97, 97, 97);
}

.form__create{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.form__create > input{
  border: none;
  height: 30px;
  border-radius: 0.4rem;
  border: rgb(201, 201, 201) 1px solid;
  font-size: 1.1rem;
  width: 300px;
  padding: 5px;
}

.form__create > button{
  width: 100px;
  height: 30px;
  border: none;
  background-color: rgb(48, 255, 48);
  border-radius: 0.4rem;
  border: 1px rgb(43, 214, 43) solid;
  font-weight: bold;
  transition: 0.8s;
  cursor: pointer;
}
.form__create > button:hover{
  background-color: white;
  transition: 0.8s;
  color: rgb(43, 214, 43);
}

.task__container{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 0.7rem;
}

.task__list{
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.task__list > div{
  background-color: rgb(255, 255, 255);
  padding: 3px;
  width: 300px;
  min-height: 30px;
  border-radius: 0.4rem;
  border: 1px rgb(214, 214, 214) solid;
  overflow-wrap: break-word;
}
.button__edit, .button__delete{
  width: 80px;
  border: none;
  border-radius: 0.4rem;
  transition: 0.8s;
  cursor: pointer;
  height: 31.5px;
}

.button__edit{
  background-color: rgb(255, 255, 80);
  border: 1px solid rgb(233, 233, 63);
}
.button__edit:hover{
  background-color: white;
  color: rgb(133, 133, 16);
  transition: 0.8s;
}

.button__delete{
  background-color: rgb(255, 50, 50);
  border: 1px solid rgb(230, 41, 41);
}

.button__delete:hover{
  background-color: white;
  color: rgb(230, 41, 41);
  transition: 0.8s;
}

.update__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.update__container > input{
  background-color: rgb(255, 255, 255);
  height: 30.5px;
  width: 300px;
  border-radius: 0.4rem;
  border: 1px rgb(214, 214, 214) solid;
  padding: 5px;
}

@media (min-width:700px) {
  .container{
    width: 600px;
    padding: 3rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}